#!/bin/sh

export LESSOPEN="| /usr/share/source-highlight/src-hilite-lesspipe.sh %s"
export LESS=' -R '
export FZF_DEFAULT_COMMAND='ag --hidden --ignore .git -g ""'

##############################################################################
# Some functions
##############################################################################

untarall ()
{
    for el in $(ls *.tar.gz);
    do
        dr=$(basename $el .tar.gz)
        mkdir $dr && tar xvf $el -C $dr
    done
}

casedupes ()
{
    find | perl -ne 's!([^/]+)$!lc $1!e; print if 1 == $seen{$_}++'
}

fvim ()
{
    vim $(find -type f -and -not -path "*_build*" -name "$1*")
}

gvim ()
{
    vim -q <(git grep $1)
}

if type ssh-wrapper > /dev/null 2>&1; then
    ssh() {
        ssh-wrapper "$@"
    }
fi
