[user]
	email = anders@ronningen.priv.no
	name = Anders Rønningen
[color]
	ui = auto
[grep]                                                                                                                           
  linenumber = true     
