*.elc
.emacs.d/el-get
.xmonad/history
.emacs.d/projectile*
.emacs.d/ac-comphist.dat
.emacs.d/auto-save-list/
.emacs.d/bookmarks
.emacs.d/history
.emacs.d/url/
.emacs.d/backups
.emacs.d/elpa
.emacs.d/session.*
.emacs.d/.mc-lists.el
.emacs.d/.places
.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
