[user]
	name = Anders Ronningen
	email = anders@ronningen.priv.no
[color]
  ui = auto
[grep]                                                                                                                           
  linenumber = true     
