
! Metastuff
XTerm*eightBitInput:          false
XTerm*metaSendsEscape:        true
XTerm*altIsNotMeta:           true
XTerm*altSendsEscape:         true

! Clipboard
XTerm*selectToClipboard:      true

! Every shell is a login shell by default (for inclusion of all necessary environment variables)
XTerm*loginShell: true

! I like a LOT of scrollback...
XTerm*saveLines: 65536

! double-click to select whole URLs
XTerm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48

! right hand side scrollbar...
XTerm*rightScrollBar: true
XTerm*ScrollBar: true

XTerm*termName: xterm-256color

XTerm*bellIsUrgent: true

XTerm.omitTranslation: fullscreen

! Fixes from Peder to make emacs in a terminal behave better (key and colorwise)
*VT100.translations: #override\
                        ~Ctrl  Meta  Shift <Key>Return: string("\033[27;4;13~")\n\
                         Ctrl  Meta ~Shift <Key>Return: string("\033[27;7;13~")\n\
                         Ctrl  Meta  Shift <Key>Return: string("\033[27;8;13~")\n
XTerm.VT100.modifyOtherKeys:  1

XTerm.VT100.decTerminalID:    vt100

XTerm*faceName: Source Code Pro-11
Emacs*font: Source Code Pro-11


!XTerm*color0:    rgb:0000/0000/0000
!XTerm*color1:    rgb:dccc/3222/2fff
!XTerm*color2:    rgb:0000/bfff/0000
!XTerm*color3     rgb:bfff/bfff/0000
!XTerm*color4:    rgb:4666/8bbb/ffff
!XTerm*color5:    rgb:d333/3666/8222
!XTerm*color6:    rgb:2aaa/a111/9888
!XTerm*color7:    rgb:bfff/bfff/bfff
!XTerm*color8:    rgb:4000/4000/4000
!XTerm*color9:    rgb:f111/3666/3333
!XTerm*color10:   rgb:0000/ffff/0000
!XTerm*color11:   rgb:ffff/ffff/0000
!XTerm*color12:   rgb:2666/8bbb/d222
!XTerm*color13:   rgb:ffff/0000/ffff
!XTerm*color14:   rgb:0000/ffff/ffff
!XTerm*color15:   rgb:ffff/ffff/ffff


! Solarized color scheme for the X Window System
!
! http://ethanschoonover.com/solarized


! Common

#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900


! Dark

#define S_base03        #002b36
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3


! Light

! #define S_base03        #fdf6e3
! #define S_base02        #eee8d5
! #define S_base01        #93a1a1
! #define S_base00        #839496
! #define S_base0         #657b83
! #define S_base1         #586e75
! #define S_base2         #073642
! #define S_base3         #002b36


! To only apply colors to your terminal, for example, prefix
! the color assignment statement with its name. Example:
!
! URxvt*background:            S_base03

XTerm*background:              S_base03
XTerm*foreground:              S_base0
XTerm*fading:                  40
XTerm*fadeColor:               S_base03
XTerm*cursorColor:             S_base1
XTerm*pointerColorBackground:  S_base01
XTerm*pointerColorForeground:  S_base1

XTerm*color0:                  S_base02
XTerm*color1:                  S_red
XTerm*color2:                  S_green
XTerm*color3:                  S_yellow
XTerm*color4:                  S_blue
XTerm*color5:                  S_magenta
XTerm*color6:                  S_cyan
XTerm*color7:                  S_base2
XTerm*color9:                  S_orange
XTerm*color8:                  S_base03
XTerm*color10:                 S_base01
XTerm*color11:                 S_base00
XTerm*color12:                 S_base0
XTerm*color13:                 S_violet
XTerm*color14:                 S_base1
XTerm*color15:                 S_base3

