
! Metastuff
XTerm*eightBitInput:          false
XTerm*metaSendsEscape:        true
XTerm*altIsNotMeta:           true
XTerm*altSendsEscape:         true

! Clipboard
XTerm*selectToClipboard:      true

! Every shell is a login shell by default (for inclusion of all necessary environment variables)
XTerm*loginShell: true

! I like a LOT of scrollback...
XTerm*saveLines: 65536

! double-click to select whole URLs
XTerm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48

! right hand side scrollbar...
XTerm*rightScrollBar: true
XTerm*ScrollBar: true

XTerm*termName: xterm-256color

XTerm*bellIsUrgent: true

XTerm.omitTranslation: fullscreen

XTerm*color0:    rgb:0000/0000/0000
XTerm*color1:    rgb:dccc/3222/2fff
XTerm*color2:    rgb:0000/bfff/0000
XTerm*color3     rgb:bfff/bfff/0000
XTerm*color4:    rgb:4666/8bbb/ffff
XTerm*color5:    rgb:d333/3666/8222
XTerm*color6:    rgb:2aaa/a111/9888
XTerm*color7:    rgb:bfff/bfff/bfff
XTerm*color8:    rgb:4000/4000/4000
XTerm*color9:    rgb:f111/3666/3333
XTerm*color10:   rgb:0000/ffff/0000
XTerm*color11:   rgb:ffff/ffff/0000
XTerm*color12:   rgb:2666/8bbb/d222
XTerm*color13:   rgb:ffff/0000/ffff
XTerm*color14:   rgb:0000/ffff/ffff
XTerm*color15:   rgb:ffff/ffff/ffff

! Fixes from Peder to make emacs in a terminal behave better (key and colorwise)
*VT100.translations: #override\
                        ~Ctrl  Meta  Shift <Key>Return: string("\033[27;4;13~")\n\
                         Ctrl  Meta ~Shift <Key>Return: string("\033[27;7;13~")\n\
                         Ctrl  Meta  Shift <Key>Return: string("\033[27;8;13~")\n
XTerm.VT100.modifyOtherKeys:  1

XTerm.VT100.decTerminalID:    vt100

XTerm*faceName: Inconsolata-12
Emacs*font: Inconsolata-12
